{"http_interactions":[{"request":{"method":"GET","uri":"https://asr.api.speechmatics.com/v2/jobs"},"response":{"status":200,"headers":{"content-type":"application/json"},"body":{"string":"{\"jobs\":[{\"config\":{\"type\":\"transcription\",\"transcription_config\":{\"language\":\"en\",\"operating_point\":\"standard\"}},\"created_at\":\"2026-05-31T19:59:41.742Z\",\"data_name\":\"testrecording.mp3\",\"duration\":3,\"id\":\"75m0l7rsfy\",\"status\":\"done\"},{\"config\":{\"type\":\"transcription\",\"transcription_config\":{\"language\":\"en\",\"operating_point\":\"standard\"}},\"created_at\":\"2026-05-31T19:54:14.879Z\",\"data_name\":\"testrecording.mp3\",\"duration\":3,\"id\":\"o4qu80ga7m\",\"status\":\"done\"},{\"config\":{\"type\":\"transcription\",\"transcription_config\":{\"language\":\"en\",\"operating_point\":\"enhanced\",\"diarization\":\"speaker\",\"enable_entities\":true,\"audio_filtering_config\":{\"volume_threshold\":0}}},\"created_at\":\"2026-05-29T17:15:16.691Z\",\"data_name\":\"Hadley-29-may.mp3\",\"duration\":1404,\"id\":\"6gjyiqawrq\",\"status\":\"done\"},{\"config\":{\"type\":\"transcription\",\"transcription_config\":{\"language\":\"en\",\"operating_point\":\"enhanced\"}},\"created_at\":\"2026-05-29T15:12:25.731Z\",\"data_name\":\"2026-05-29 15-06-36.mp3\",\"duration\":3676,\"id\":\"j79mgxzzbw\",\"status\":\"done\"},{\"config\":{\"type\":\"transcription\",\"transcription_config\":{\"language\":\"en\",[...]
